Sujet 9 France metropolitaine 2019 [lien](https://www.annabac.com/annales-bac/sujet-du-brevet-de-france-metropolitaine-2019?classe=44037&matiere=44038&theme=50491)

Le capitaine d’un navire possède un trésor constitué de 69 diamants, 1 150 perles et 4 140 pièces d’or.

Combien y a-t-il de marins sachant que toutes les pièces, perles et diamants ont été distribués ?

In [18]:
import numpy as np
print('Le plus grand diviseur commun :', np.gcd.reduce([25, 50, 100]))

Le plus grand diviseur commun : 25

In [2]:
def prime_factors(n):
    i = 2
    factors = []
    while i * i <= n:
        if n % i:
            i += 1
        else:
            n //= i
            factors.append(i)
    if n > 1:
        factors.append(n)
    return factors

In [3]:
[prime_factors(69), prime_factors(1_150), prime_factors(4_140)]

[[3, 23], [2, 5, 5, 23], [2, 2, 3, 3, 5, 23]]

In [4]:
diamants = set(prime_factors(69))
perles = set(prime_factors(1_150))
pieces_or = set(prime_factors(4_140))

In [5]:
marins = diamants.intersection(perles.intersection(pieces_or))
marins

{23}

Un sablier est composé de :

deux cylindres C1 et C2 de hauteur 4,2 cm et de diamètre 1,5 cm ;

un cylindre C3 ;

deux demi-sphères S1 et S2 de diamètre 1,5 cm.

On rappelle le volume V d’un cylindre d’aire de base B et de hauteur ℎ :

V = B × ℎ.

a) Au départ, le sable remplit le cylindre C2 aux deux tiers. Montrer que le volume du sable est environ 4,95 cm3.

In [6]:
from math import *
h = 4.2
d = 1.5
V = 2 / 3 * pi * (d / 2)**2 * h
print(f'V = {V:.2f} cm³')

V = 4.95 cm³

b) On retourne le sablier. En supposant que le débit d’écoulement du sable est constant et égal à 1,98 cm3/min, calculer le temps en minutes et secondes que va mettre le sable à s’écouler dans le cylindre inférieur.

In [7]:
debit = 1.93
temps_min = V / debit
print(f'Temps écoulement = {temps_min:.2f} min')

Temps écoulement = 2.56 min

In [8]:
import datetime
str(datetime.timedelta(seconds = temps_min * 60))

'0:02:33.824096'

En réalité, le débit d’écoulement d’un même sablier n’est pas constant.

Dans une usine où on fabrique des sabliers comme celui-ci, on prend un sablier au hasard et on teste plusieurs fois le temps d’écoulement dans ce sablier.

Voici les différents temps récapitulés dans le tableau suivant :

In [9]:
import pandas as pd

d = {'Temps': ['2:22', '2:24', '2:26', '2:27', '2:28',
               '2:29', '2:30', '2:31', '2:32', '2:33',
               '2:34', '2:35', '2:38'],
     'Nombre': [1, 1, 2, 6, 3,
                7, 6, 3, 1, 2,
                3, 2, 3]}
df = pd.DataFrame(d)

Convertir le temps en secondes

In [10]:
df['Temps [s]'] = pd.to_timedelta("00:" + df['Temps']).dt.total_seconds()
df

   Temps  Nombre  Temps [s]
0   2:22       1      142.0
1   2:24       1      144.0
2   2:26       2      146.0
3   2:27       6      147.0
4   2:28       3      148.0
5   2:29       7      149.0
6   2:30       6      150.0
7   2:31       3      151.0
8   2:32       1      152.0
9   2:33       2      153.0
10  2:34       3      154.0
11  2:35       2      155.0
12  2:38       3      158.0

a) Combien de tests ont été réalisés au total ?

In [11]:
print('No. de tests :', df['Nombre'].sum())

No. de tests : 40

b) Un sablier est mis en vente s’il vérifie les trois conditions ci-dessous, sinon il est éliminé.

L’étendue des temps est inférieure à 20 s.

La médiane des temps est comprise entre 2 min 29 s et 2 min 31 s.

La moyenne des temps est comprise entre 2 min 28 s et 2 min 32 s.

In [12]:
print('Etendu :', df['Temps [s]'].max() - df['Temps [s]'].min(), 's')

Etendu : 16.0 s

In [13]:
print('Médiane :', df['Temps [s]'].median(), 's')

Médiane : 150.0 s

In [14]:
median = df['Temps [s]'].median()
print(f'Médiane : {median // 60:.0f}:{median % 60:.0f} min')

Médiane : 2:30 min

In [15]:
print('Moyenne :', df['Temps [s]'].mean(), 's')

Moyenne : 149.92307692307693 s

In [16]:
print(f'Moyenne : {df["Temps [s]"].mean():.0f} s')

Moyenne : 150 s