# DNB – Métropole – Juin 2021

[sujet](https://www.annales2maths.com/solution-dnb-metropole-juin-2021/)

## Exercice 1 (20 p)

In [1]:
import numpy as np
import pandas as pd

Les températures moyennes mensuelles à Tours en 2019 :

In [2]:
temp_Tours = {'Mois': ['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D'],
              'Temp °C': [4.4, 7.8, 9.6, 11.2, 13.4, 19.4, 22.6, 20.5, 17.9, 14.4, 8.2, 7.8]}
df = pd.DataFrame(temp_Tours)
df

   Mois  Temp °C
0     J      4.4
1     F      7.8
2     M      9.6
3     A     11.2
4     M     13.4
5     J     19.4
6     J     22.6
7     A     20.5
8     S     17.9
9     O     14.4
10    N      8.2
11    D      7.8

La température moyenne à Tours en novembre 2019 :

In [3]:
df.loc[10]

Mois         N
Temp °C    8.2
Name: 10, dtype: object

In [4]:
etendue = df['Temp °C'].max() - df['Temp °C'].min()
print(f'Etendue : {etendue:.2f} °C')

Etendue : 18.20 °C

In [5]:
print(f"Moyenne : {df['Temp °C'].mean():.2f} °C")

Moyenne : 13.10 °C

La température moyenne annuelle à Tours en 2009 était de 11,9 °C.
Le pourcentage d’augmentation entre 2009 et 2019, arrondi à l’unité, est-il de : 7% ; 10% ou 13% ?
Justifier la réponse.

In [6]:
moyenne_2009 = 11.9
moyenne_2019 = df['Temp °C'].mean()
augmentation = (moyenne_2019 - moyenne_2009) / moyenne_2009
print(f"L'augmentation est de {augmentation * 100:.0f} %")

L'augmentation est de 10 %

In [7]:
moyenne_2009 = 11.9
moyenne_2019 = df['Temp °C'].mean()
augmentation = (moyenne_2019 - moyenne_2009) / moyenne_2019
print(f"L'augmentation est de {augmentation * 100:.0f} %")

L'augmentation est de 9 %

## Exercice 2 (20 points)

Le Futuroscope est un parc de loisirs situé dans la Vienne. L’année 2019 a enregistré 1,9 million de visiteurs.

1. Combien aurait-il fallu de visiteurs en plus en 2019 pour atteindre 2 millions de visiteurs ?

In [8]:
visit_2019 = 1.9e6
visit_pour2mil = 2e6 - visit_2019
visit_pour2mil

100000.0

2. L’affirmation « Il y a eu environ 5200 visiteurs par jour en 2019 » est-elle vraie ? Justifier la réponse.

In [9]:
print(f"Erreure : {(5200 * 365 - visit_2019) / visit_2019 * 100:.2f} %")

Erreure : -0.11 %

3. Un professeur organise une sortie pédagogique au Futuroscope pour ses élèves de troisième.
Il veut répartir les 126 garçons et les 90 filles par groupes. Il souhaite que chaque groupe comporte le même nombre de filles et le même nombre de garçons.

a. Décomposer en produit de facteurs premiers les nombres 126 et 90.

In [10]:
def prime_factors(n):
    i = 2
    factors = []
    while i * i <= n:
        if n % i:
            i += 1
        else:
            n //= i
            factors.append(i)
    if n > 1:
        factors.append(n)
    return factors

In [11]:
[prime_factors(126), prime_factors(90)]

[[2, 3, 3, 7], [2, 3, 3, 5]]

In [16]:
factors_120 = np.array(prime_factors(126))
factors_90 = np.array(prime_factors(90))
print(f"Facteurs primes de 120 : {factors_120}")
print(f"Facteurs primes de 90 : {factors_90}")

Facteurs primes de 120 : [2 3 3 7]
Facteurs primes de 90 : [2 3 3 5]